[Unit]
Description=Phosphor Chassis State Manager for the chasis %i
Before=mapper-wait@-xyz-openbmc_project-state-chassis.service
Wants=obmc-mapper.target
After=obmc-mapper.target
After=org.openbmc.control.Power@0.service

[Service]
ExecStart=/usr/bin/phosphor-chassis-state-manager %i
Restart=always

[Install]
WantedBy=multi-user.target
